page-supported-devices {
    .slide-css {
        height: 200px;
    }

    .ionCol {
        padding   : 30px;
        background: #f2f2f2;
    }

    img {
        max-width    : 100%;
        max-height   : 100%;
        border-radius: 5px;
        display      : block;
        /* remove extra space below image */
    }

    .box {
        width                      : 160px;
        // height                     : 160px;
        padding-right              : 30px;
        position                   : relative;
    }

    #noti-count {
        position        : absolute;
        top             : -15px;
        left            : -15px;
        background-color: #c73a24;
        color           : #fff;
        padding         : 1px;
        border-radius   : 50%;
        width           : 50px;
        height          : 50px;
        font-weight     : bold;
        font-size       : 16px;
        text-align      : center;
    }

    #noti-count div {
        margin-top: 7px;
    }
}