<!--
  Generated template for the TollPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Toll List</ion-title>
    <!-- <ion-buttons end>
      <button  ion-button icon-only>

        <img src="assets/icon/stack-of-square-papers-svg.png">
      </button>
    </ion-buttons> -->

    <ion-buttons end>
      <button (click) = "live()" end>  Map View </button>
      </ion-buttons>

    <!-- <ion-buttons end>
      <div>
        <ion-icon name="radio-button-on"></ion-icon>
        <ion-icon style="font-size: 2.2em;" color="light" *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon>
        <ion-searchbar *ngIf="toggled" (ionInput)="callSearch($event)" (ionClear)="onClear($event)"
          (ionCancel)="cancelSearch($event)"></ion-searchbar>
      </div>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content no-padding>
<!-- <ion-buttons>
<button (click) = "live()" end>  Map View </button>
</ion-buttons> -->
    <ion-card *ngFor="let item of list; let i = index">
  <ion-item style="border-bottom: 2px solid #dedede;">

    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/toll.png" style="
          margin-top: -10px;
          width: 40px;
          height: 40px;" />
      </ion-col>
      <ion-col col-3>
        <p style="
          color:black;
          font-size:16px;
          margin: 0px;">
          {{ item.tollName }}
        </p>
      </ion-col>
      <ion-col col-6 style="text-align: end;">
        <p style="
          color:gray;
          font-size:11px;
          font-weight:400;
         ">
          {{item.tollTax}}
        </p>

        <p style="
        font-size: 11px;
        color:red;
        font-weight:bold;

        ">
          {{'Toll Tax'}}
        </p>
      </ion-col>
      <!-- <ion-col col-4>
        <p style="
          text-align: center;
          font-size: 11px;
          color:#11c1f3;
          font-weight:bold;">
          {{item.Date}}
        </p>
      </ion-col> -->

    </ion-row>

    <!-- <ion-row style="margin-top:2%;">
      <ion-col col-4>
        <p style="
          color:gray;
          font-size:11px;
          font-weight:400;
         ">
          {{item.tollTax}}
        </p>

        <p style="
        font-size: 11px;
        color:red;
        font-weight:bold;
        ">
          {{'Toll Tax'}}
        </p>
      </ion-col>

      <ion-col col-4>
        <p style="
          color:gray;
          font-size:11px;
          font-weight:400;">
          {{item.location.coordinates['0']}}
        </p>

        <p style="
        font-size: 11px;
        color:#53ab53;
        font-weight:bold;">
          {{'Latitude' }}
        </p>
      </ion-col>
      <ion-col col-4>
        <p style="
          color:gray;
          font-size:11px;
          font-weight:400;
          margin-left: 8px;">
          {{item.location.coordinates['1']}}
        </p>

        <p style="
        font-size: 11px;
        color:red;
        font-weight:bold;
        margin-left: 8px;">
          {{'Longitude'}}
        </p>
      </ion-col>
    </ion-row> -->

    <ion-row style="margin-top:2%;">

      <ion-col col-4>
        <p style="
        color:gray;
        font-size:11px;
        font-weight:400;
       ">
          {{item.address}}
        </p>

        <p style="
      color:#53ab53;
      font-size: 11px;
      font-weight: bold;
      ">
          {{'Address' }}
        </p>
      </ion-col>

      <!-- <ion-col col-4>
        <p style="
          color:gray;
          font-size:11px;
          font-weight:400;">
          {{item.location.coordinates['0']}}
        </p>

        <p style="
        font-size: 11px;
        color:#53ab53;
        font-weight:bold;">
          {{'Latitude' }}
        </p>
      </ion-col>
      <ion-col col-4>
        <p style="
          color:gray;
          font-size:11px;
          font-weight:400;
          margin-left: 8px;">
          {{item.location.coordinates['1']}}
        </p>

        <p style="
        font-size: 11px;
        color:red;
        font-weight:bold;
        margin-left: 8px;">
          {{'Longitude'}}
        </p>
      </ion-col> -->

    </ion-row>


    <!--
    -->

    <!-- </ion-scroll> -->


  </ion-item>
 </ion-card>
  <!-- <ion-fab right bottom>
    <button ion-fab color="gpsc" (click)="addTolls()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->
</ion-content>
